html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button{
    background-color: cornflowerblue;
}

#CCTitle {
    font-weight: 500;
    text-decoration: underline;
}

.submit {
    background-color: cornflowerblue;
}