html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button{
    background-color: grey;
    border-radius: 16px;
    border:0px;
    padding:10px;
    padding-top:6px;
    padding-bottom:6px;
    color:#fdfefe;
    font-weight:500;
    margin:5px;
}

#Stats{
    background-color: dodgerblue;
    border-width: 3px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    color: black;
    font-weight: 500;
}

.submitButton {
    background-color: #41a6ef;
}

.backButton{
    background-color: #FF3131;
}

.continueButton{
    background-color: #00bf63;
}

#CCTitle {
    font-weight: 500;
    text-decoration: underline;
    text-align:center
}

