html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button{
    background-color: grey;
    border-width: 3px;
    border-radius: 12px;
}

.roundButton{
    background-color: cornflowerblue;
    border-width: 2px;
    border-radius: 50%;
}

.submitButton {
    background-color: deepskyblue;
}

.backButton{
    background-color: red;
}

.continueButton{
    background-color: limegreen;
}

#CCTitle {
    font-weight: 500;
    text-decoration: underline;
}

