@page
@model Dice_Roller_0._1.Pages.CC1Model
@{

}
<body>
    @{
        int[] test = { 10, 10, 10, 10, 10, 10 };
        //Character bob = new Character(test, "human", "bard", "bob", "criminal", "LN");


        CookieOptions CharacterCookie = new CookieOptions();
        CharacterCookie.Expires = DateTime.Now.AddYears(99);
        CharacterCookie.IsEssential = true;
        CharacterCookie.Path = "/";

        string charString = "stats(" + test.ToString() + "), race(";

        //Name, Value, ObjectName
        HttpContext.Response.Cookies.Append("CharacterCookie", "", CharacterCookie);
        //race(human), class(bard), ...abilities(1,2,3,4,5)
    }
</body>
<form>
    <div class="text-center">
        <h1 id="CCTitle">Character Creator</h1>
        <h2>Name</h2>
        <!--Text Box Input for Name-->
        <label for="Name">Choose a Name</label>
        <input type="text" id="Name" name="Name" runat="server">
        <br />  
        <br />
        

        <h2>Class</h2>
        <!--Dropdown list to select from all classes-->
            <label for="selectClass">Choose a Class:</label>
            <select id="selectClass" name="selectClass" runat="server">
                <option value="">Choose a Class</option>
                <option value="barbarian">Barbarian</option>
                <option value="bard">Bard</option>
                <option value="cleric">Cleric</option>
                <option value="druid">Druid</option>
                <option value="fighter">Fighter</option>
                <option value="monk">Monk</option>
                <option value="paladin">Paladin</option>
                <option value="ranger">Ranger</option>
                <option value="rogue">Rogue</option>
                <option value="sorcerer">Sorcerer</option>
                <option value="warlock">Warlock</option>
                <option value="wizard">Wizard</option>
            </select>
            <br />
        <h2>Race</h2>
        <!--Dropdown list to select from all races-->
        <label for="selectRace">Choose a Race:</label>
        <select id="selectRace" name="selectRace" runat="server">
            <option value="">Choose a Race</option>
            <option value="dwarf">Dwarf</option>
            <option value="elf">Elf</option>
            <option value="halfling">Halfling</option>
            <option value="human">Human</option>
            <option value="dragonborn">Dragonborn</option>
            <option value="gnome">Gnome</option>
            <option value="halfElf">Half-Elf</option>
            <option value="halfOrc">Half-Orc</option>
            <option value="tiefling">Tiefling</option>
        </select>
        <br />
        <h2>Background</h2>
        <!--Dropdown List to select from all backgrounds-->
        <label for="selectBackground">Choose a Background:</label>
        <select id="selectBackground" name="selectBackground" runat="server">
            <option value="">Choose a Background</option>
            <option value="acolyte">Acolyte</option>
            <option value="charlatan">Charlatan</option>
            <option value="criminal">Criminal</option>
            <option value="entertainer">Entertainer</option>
            <option value="folk-hero">Folk Hero</option>
            <option value="guild-artisan">Guild Artisan</option>
            <option value="hermit">Hermit</option>
            <option value="noble">Noble</option>
            <option value="outlander">Outlander</option>
            <option value="sage">Sage</option>
            <option value="sailor">Sailor</option>
            <option value="soldier">Soldier</option>
            <option value="urchin">Urchin</option>
        </select>
        <br />
        <h2>Alignment</h2>
        <!--Dropdown List to select from all alignments-->
        <label for="selectAlignment">Choose an Alignment:</label>
        <select id="selectAlignment" name="selectAlignment" runat="server">
            <option value="">Choose an Alignment</option>
            <option value="lg">Lawful Good</option>
            <option value="ln">Lawful Neutral</option>
            <option value="le">Lawful Evil</option>
            <option value="ng">Neutral Good</option>
            <option value="tn">True Neutral</option>
            <option value="ne">Neutral Evil</option>
            <option value="cg">Chaotic Good</option>
            <option value="cn">Chaotic Neutral</option>
            <option value="ce">Chaotic Evil</option>
        </select>
        <br />
        <br />
        <form asp-page-handler="Complete" method="post">
            <!--Submit button that saves selected class in a variable-->
            <!--<input type="submit" value="Submit" class="submit" />-->
            <button class="submitButton">Submit</button>
        </form>
    </div>
        </form>
        <br />
        <br />
    
<div class="text-center">
    <button class="backButton" onclick="window.location.href='https://localhost:44331/Index';">Back</button><button class="continueButton" onclick="window.location.href='https://localhost:44331/CC2';">Continue</button>
</div>
<div>
    @{
        
        CookieOptions options = new CookieOptions();
        options.Expires = DateTime.Now.AddYears(50);
        /*
        string strStat = HttpContext.Request.Query["strStat"].ToString();
        string dexStat = HttpContext.Request.Query["dexStat"].ToString();
        string conStat = HttpContext.Request.Query["conStat"].ToString();
        string intStat = HttpContext.Request.Query["intStat"].ToString();
        string wisStat = HttpContext.Request.Query["wisStat"].ToString();
        string chaStat = HttpContext.Request.Query["chaStat"].ToString();
        */
        string nameInput = HttpContext.Request.Query["Name"].ToString();
        string raceInput = HttpContext.Request.Query["selectRace"].ToString();
        string classInput = HttpContext.Request.Query["selectClass"].ToString();
        string maxHPInput = HttpContext.Request.Query[""].ToString();
        string currHPInput = HttpContext.Request.Query[""].ToString();
        string bgInput = HttpContext.Request.Query["selectBackground"].ToString();
        string alInput = HttpContext.Request.Query["selectAlignment"].ToString();
        string sizeInput = HttpContext.Request.Query["selectRace"].ToString();

        if (sizeInput.Equals("halfling") || sizeInput.Equals("gnome"))
        {
            sizeInput = "small";
        }
        else
        {
            sizeInput = "medium";
        }

        string CC1Data = /*"_str:" + strStat + ",_dex:" + dexStat + ",_con:" + conStat + ",_int:" + intStat + ",_wis:" + wisStat + ",_cha:" + chaStat + */",_name:" + nameInput + "," + "_race:" + raceInput + "," + "_class:" + classInput + "," + "_maxHP:" + maxHPInput + "," + "_currHP:" + currHPInput + "," + "_bg:" + bgInput + "," + "_al:" + alInput + "," + "_size:" + sizeInput;

        Response.Cookies.Append("CC1Data", CC1Data, options);
        
    }
    <p>@Request.Cookies["CC1Data"]</p>
</div>