@page
@model Dice_Roller_0._1.Pages.CC2Model

<p>
    @ViewData["CC2Display"]
</p>

<div class="text-center">
    <button class="backButton" onclick="window.location.href='CC1';">Back</button><button class="continueButton" onclick="window.location.href='MapMaker';">Continue</button>
</div>