@page
@model Dice_Roller_0._1.Pages.CC2Model
@{
    ViewData["Title"] = "Stats";
}
<head>
    <script src="site.js"></script>
<style>
    .container {
            
    }

     aside {
        position: fixed;
        border-radius: 20px;
        right: 175px;
        width: 35%;
        padding: 20px;
        font-style: italic;
        background-color: lightgray;
        float: right;
        height:287px;
        
    }

    #statsBox{
        border-radius: 20px;
        padding: 20px;
        width:600px;
        height:240px;
        background-color: #004aad;
    }

    .box {
        border: 3px solid;
        border-color: #052f5f;
        background-color: #5271ff;
        border-radius: 50%;
        width: 50px;
        padding:10px;
        height: 50px;
        cursor: move;
        text-align: center;
        color:#fdfefe;
        font-weight: 500;
        margin:19px;
    }

    .box.over {
        border: 3px dotted darkblue;
    }
    </style>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (event) => {

        var dragSrcEl = null;

        function handleDragStart(e) {
            this.style.opacity = '0.4';

            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            e.preventDefault();
            e.stopPropagation();

                if (dragSrcEl !== this) {
                    dragSrcEl.innerHTML = this.innerHTML;
                    this.innerHTML = e.dataTransfer.getData('text/html');
                }

                this.classList.remove('over');

            return false;
        }

        let items = document.querySelectorAll('.container .box');
        items.forEach(function (item) {
            item.addEventListener('dragstart', handleDragStart);
            item.addEventListener('dragover', handleDragOver);
            item.addEventListener('dragenter', handleDragEnter);
            item.addEventListener('dragleave', handleDragLeave);
            item.addEventListener('dragend', handleDragEnd);
            item.addEventListener('drop', handleDrop);
        });
    });

    //create a function to display the content of the div elements in order
    function printId() {
        let stats = new Array(6);
        //document.querySelector('.box').innerHTML
        let items = document.querySelectorAll('.selectedStats .box');
        let counter = 0;
        items.forEach(function (item) {
            if(item.innerHTML != ""){
                stats[counter] = item.innerHTML;
                counter++;
            }
        });

        /*
        alert("Your strength stat is: " + stats[0]);
        alert("Your dexterity stat is: " + stats[1]);
        alert("Your constitution stat is: " + stats[2]);
        alert("Your intelligence stat is: " + stats[3]);
        alert("Your wisdom stat is: " + stats[4]);
        alert("Your charisma stat is: " + stats[5]);
        */
       localStorage.setItem("str", stats[0]);
       localStorage.setItem("dex", stats[1]);
       localStorage.setItem("con", stats[2]);
       localStorage.setItem("int", stats[3]);
       localStorage.setItem("wis", stats[4]);
       localStorage.setItem("cha", stats[5]);
    }
    
    function fourDropLowest(){
        //rolls stats for you and automatically drops the lowest number
        let low = 9999;
        let hold = 0;
        let sum = 0;

        //generates the stats
        for(let i=0; i<4; i++){
            hold = Math.floor(Math.random() * 6) + 1;

            sum += hold;

            //finds the lowest and stores the value
            if(hold < low)
                low = hold;
        }

        //drops the lowest
        sum -= low;

        return sum;
    }
    

    
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";domain=.localhost:44331;path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    /*
    function checkCookie() {
        if (sessionStorage.arrive = 0){
            sessionStorage.arrive = 1;
            setCookie("stat1", fourDropLowest(), 1);
            setCookie("stat2", fourDropLowest(), 1);
            setCookie("stat3", fourDropLowest(), 1);
            setCookie("stat4", fourDropLowest(), 1);
            setCookie("stat5", fourDropLowest(), 1);
            setCookie("stat6", fourDropLowest(), 1);
        }
        document.getElementById("stat1").innerHTML = getCookie("stat1");
        document.getElementById("stat2").innerHTML = getCookie("stat2");
        document.getElementById("stat3").innerHTML = getCookie("stat3");
        document.getElementById("stat4").innerHTML = getCookie("stat4");
        document.getElementById("stat5").innerHTML = getCookie("stat5");
        document.getElementById("stat6").innerHTML = getCookie("stat6");
    }
   
    checkCookie();
    */

</script>

    @{
        int[] stats = new int[6];
        
    }
</head> 
<h1 id="CCTitle" class="text-center">Character Creator</h1>

<br />
<p id="info" style="width:400px">Recommendations not loading...</p>
<aside class="text-left" style="float: right">
    <h4>What are Stats?</h4>
    <p> Your <strong> Stats </strong> are a representation of your aptitude in different characteristics of adventuring</p>
    <p>
        To understand what they are, consider the famous tomato analogy:
        <br />

        <strong>Strength (STR)</strong> is how far you can throw a tomato/easily crush a tomato (physical might)<br>
        <strong>Dexterity (DEX)</strong> is how accurately you can throw a tomato/dodge a tomato (nimbleness)<br>
        <strong>Constitution (CON)</strong> is how well you can handle eating a crate of tomatos (hardiness)<br>
        <strong>Intelligence (INT)</strong> is knowing that tomato is a fruit (book knowledge)<br>
        <strong>Wisdom (WIS)</strong> is knowing that tomato does not go on a fruit salad (applying knowledge)<br>
        <strong>Charisma (CHA)</strong> is how well you can sell a rotten tomato (social influence)
    </p>
</aside>

<h4>Drag and drop numbers to preferred stats</h4>


<!--
<form asp-page-handler="TEST" method="post">
       
    
    <label for="maxHP">Input your Max HP</label>
    <input type="text" id="maxHP" name="maxHP" runat="server">
    <br />

    <label for="currHP">Input your Current HP</label>
    <input type="text" id="currHP" name="currHP" runat="server">
    <br />
    Test receive method
    <button>TEST</button>
</form>
-->

<div id="statsBox" style="">
    <div class="container text-center">
        <div id="stat1" draggable="true" class="box" style="float:left"></div>
        <div id="stat2" draggable="true" class="box" style="float:left"></div>
        <div id="stat3" draggable="true" class="box" style="float:left"></div>
        <div id="stat4" draggable="true" class="box" style="float:left"></div>
        <div id="stat5" draggable="true" class="box" style="float:left"></div>
        <div id="stat6" draggable="true" class="box" style="float:left"></div>
    </div>
    <br />
    <br />
    <br />
    <div style="font-weight:500;color:#fdfefe">
        <div style="float:left;margin-left:40px;margin-right:25px">STR:</div>

        <div style="float:left;margin-left:30px;margin-right:30px">DEX:</div>

        <div style="float:left;margin-left:25px;margin-right:25px">CON:</div>

        <div style="float:left;margin-left:27px;margin-right:25px">INT:</div>

        <div style="float:left;margin-left:30px;margin-right:25px">WIS:</div>

        <div style="float:left;margin-left:30px;margin-right:25px">CHA:</div>
    </div>
    <div class="container selectedStats">

        <div id="fakeStat" draggable="true" class="box" style="float:left"></div>

        <div id="fakeStat" draggable="true" class="box" style="float:left"></div>

        <div id="fakeStat" draggable="true" class="box" style="float:left"></div>

        <div id="fakeStat" draggable="true" class="box" style="float:left"></div>

        <div id="fakeStat" draggable="true" class="box" style="float:left"></div>

        <div id="fakeStat" draggable="true" class="box" style="float:left"></div>
    </div>
</div>

<br />
<br>
<br />

<div>
    <button onclick="printId()">Submit and Display Stats</button>
</div>
<div class="text-center">
    <button class="backButton" onclick="window.location.href='/CC_CR';">Back</button>
    <button class="continueButton" onclick="window.location.href='/CC_BA';">Continue</button>
</div>

@{
    /*
    string strStat = HttpContext.Request.Query["strStat"].ToString();
    string dexStat = HttpContext.Request.Query["dexStat"].ToString();
    string conStat = HttpContext.Request.Query["conStat"].ToString();
    string intStat = HttpContext.Request.Query["intStat"].ToString();
    string wisStat = HttpContext.Request.Query["wisStat"].ToString();
    string chaStat = HttpContext.Request.Query["chaStat"].ToString();

    string tempStorage = "_str:" + strStat + ",_dex:" + dexStat + ",_con:" + conStat + ",_int:" + intStat + ",_wis:" + wisStat + ",_cha:" + chaStat;

    
    //Console.WriteLine(tempStorage + Request.Cookies["CC1Data"]);
    ViewData["CC2Char"] = tempStorage + Request.Cookies["CC1Data"];
    */
}
<script>
    //-------Creates the stats for the drag and drop stuff
    if(sessionStorage.getItem("started") == "0"){
        sessionStorage.setItem("started", 1);
        sessionStorage.setItem("stat1", fourDropLowest());
        sessionStorage.setItem("stat2", fourDropLowest());
        sessionStorage.setItem("stat3", fourDropLowest());
        sessionStorage.setItem("stat4", fourDropLowest());
        sessionStorage.setItem("stat5", fourDropLowest());
        sessionStorage.setItem("stat6", fourDropLowest());
    }
    document.getElementById("stat1").innerHTML = sessionStorage.getItem("stat1");
    document.getElementById("stat2").innerHTML = sessionStorage.getItem("stat2");
    document.getElementById("stat3").innerHTML = sessionStorage.getItem("stat3");
    document.getElementById("stat4").innerHTML = sessionStorage.getItem("stat4");
    document.getElementById("stat5").innerHTML = sessionStorage.getItem("stat5");
    document.getElementById("stat6").innerHTML = sessionStorage.getItem("stat6");


    if (localStorage.getItem("class") == "barbarian") {
        document.getElementById("info").innerHTML = "Since you chose the barbarian class, we highly recommend that your highest stat be strength and your second highest be constitution.";
    } else if (localStorage.getItem("class") == "bard") {
        document.getElementById("info").innerHTML = "Since you chose the bard class, we highly recommend that your highest stat be charisma and your second highest be dexterity or constitution";
    } else if (localStorage.getItem("class") == "cleric") {
        document.getElementById("info").innerHTML = "Since you chose the cleric class, we highly recommend that your highest stat be wisdom and your second highest be charisma or constitution.";
    } else if (localStorage.getItem("class") == "druid") {
        document.getElementById("info").innerHTML = "Since you chose the druid class, we highly recommend that your highest stat be wisdom and your second highest be constitution or intelligence.";
    } else if (localStorage.getItem("class") == "fighter") {
        document.getElementById("info").innerHTML = "Since you chose the fighter class, we highly recommend that your highest stat be strength or dexterity and your second highest be constitution.";
    } else if (localStorage.getItem("class") == "monk") {
        document.getElementById("info").innerHTML = "Since you chose the monk class, we highly recommend that your highest stat be dexterity and your second highest be strength.";
    } else if (localStorage.getItem("class") == "paladin") {
        document.getElementById("info").innerHTML = "Since you chose the paladin class, we highly recommend that your highest stat be strength and your second highest be charisma.";
    } else if (localStorage.getItem("class") == "ranger") {
        document.getElementById("info").innerHTML = "Since you chose the ranger class, we highly recommend that your highest stat be dexterity and your second highest be wisdom.";
    } else if (localStorage.getItem("class") == "rogue") {
        document.getElementById("info").innerHTML = "Since you chose the rogue class, we highly recommend that your highest stat be dexterity and your second highest be intelligence or charisma.";
    } else if (localStorage.getItem("class") == "sorcerer") {
        document.getElementById("info").innerHTML = "Since you chose the sorcerer class, we highly recommend that your highest stat be charisma and your second highest be constitution.";
    } else if (localStorage.getItem("class") == "warlock") {
        document.getElementById("info").innerHTML = "Since you chose the warlock class, we highly recommend that your highest stat be charisma and your second highest be Wisdom.";
    } else if (localStorage.getItem("class") == "wizard") {
        document.getElementById("info").innerHTML = "Since you chose the wizard class, we highly recommend that your highest stat be intelligence and your second highest be constitution or wisdom.";
    } else{
        document.getElementById("info").innerHTML = "Choose a class on the previous page and we will give a suggestion on how to arrange your stats.";
    }
    
</script>