@page
@model Dice_Roller_0._1.Pages.CC_sub1Model
@{
    ViewData["Title"] = "Character Creator";
}

<style>
    aside {
        position: fixed;
        border-radius: 20px;
        right: 50px;
        width: 30%;
        padding: 30px;
        margin: 10px;
        font-style: italic;
        background-color: lightgray;
        float: right;
        font-size: 14px;
        text-align: left;
    }
    td, tr{
        padding:10px;
    }

    .ProfTitle {
        font-weight: 500;
        text-decoration: underline;
        text-align: center
    }
    
</style>
<div>

<form method="get" action="/CCItems">
    <div class="text-center">
            <h1> Choose <strong> DIFFERENT </strong> Proficiencies from the lists</h1>
            <aside id="profInfo" class="text-left">
                <h4>What are Proficiencies?</h4>
                Proficiencies are skills that your character has specialized in. During the game, you will roll to attempt certain actions<br>
                For every skill, you receive a bonus equal to your <strong> modifier</strong> in the corresponding stat -- which is (Stat Value - 10)/2<br>
                When you are proficient in the skill you are attempting, you will receive an extra bonus depending on your level<br>
                <br>
                <table>
                    <tr>
                        <td>Stat:</td>
                        <td>STR:</td>
                        <td>DEX:</td>
                        <td>INT:</td>
                        <td>WIS:</td>
                        <td>CHA:</td>
                    </tr>
                    <tr>
                        <td>Proficiencies: </td>
                        <td>
                            Athletics
                        </td>
                        <td>
                            Acrobatics<br>
                            Stealth
                        </td>
                        <td>
                            Arcana<br>
                            History<br>
                            Investigation<br>
                            Nature<br>
                            Religion
                        </td>
                        <td>
                            Animal Handling<br>
                            Insight<br>
                            Medicine<br>
                            Perception<br>
                            Survival
                        </td>
                        <td>
                            Deception<br>
                            Intimidation<br>
                            Performance<br>
                            Persuasion
                        </td>
                    </tr>


                </table>
            </aside>
            <p id="bgInfo"></p>
            <p id="half-orcInfo"></p>
    </div>
        <h2 class="ProfTitle">Class Proficiencies</h2>
        <select id="sel1-class">
            <option value="">Choose First Proficiency</option>
        </select>
        <select id="sel2-class">
            <option value="">Choose Second Proficiency</option>
        </select>
        <select id="sel3-class">
            <option value="">Choose Third Proficiency</option>
        </select>
        <select id="sel4-class">
            <option value="">Choose Fourth Proficiency</option>
        </select>
        <br />
        <br />
        <h2 class="ProfTitle"id="raceProfTitle">Race Proficiencies</h2>
        <br />
        <select id="sel1-race">
            <option value="">Choose First Proficiency</option>
        </select>
        <select id="sel2-race">
            <option value"">Choose Second Proficiency</option>
        </select>
    <br />
    <div class="text-center">
        <button type="submit" class="submitButton" onclick="storeInfo()">Submit</button>
    </div>
    <script>
        //Create objects to reference select tags and hide the 3rd and 4th
        const sel1 = document.getElementById("sel1-class");

        const sel2 = document.getElementById("sel2-class");

        const sel3 = document.getElementById("sel3-class");
        sel3.style.display = "none";

        const sel4 = document.getElementById("sel4-class");
        sel4.style.display = "none";

        const sel5 = document.getElementById("sel1-race");
        sel5.style.display = "none";

        const sel6 = document.getElementById("sel2-race");
        sel6.style.display = "none";

        document.getElementById("raceProfTitle").style.display = "none";

        //Check for the class
        //Use makeOption to create options
        //and append them to the correct number of select objects
        if (localStorage.getItem("class") == "barbarian") {
            makeOption("Animal Handling", "anmlH", 2);
            makeOption("Athletics", "athletics", 2);
            makeOption("Intimidation", "intimidation", 2);
            makeOption("Nature", "nature", 2);
            makeOption("Perception", "perception", 2);
            makeOption("Survival", "survival", 2);

        } else if (localStorage.getItem("class") == "cleric") {
            makeOption("History", "history", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Medicine", "medicine", 2);
            makeOption("Persuasion", "persuasion", 2);
            makeOption("Religion", "religion", 2);

        } else if (localStorage.getItem("class") == "druid"){
            makeOption("Animal Handling", "anmlH", 2);
            makeOption("Arcana", "arcana", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Medicine", "medicine", 2);
            makeOption("Nature", "nature", 2);
            makeOption("Perception", "perception", 2);
            makeOption("Religion", "religion", 2);
            makeOption("Survival", "survival", 2);

        } else if (localStorage.getItem("class") == "fighter") {
            makeOption("Acrobatics", "acrobatics", 2);
            makeOption("Animal Handling", "anmlH", 2);
            makeOption("Athletics", "athletics", 2);
            makeOption("History", "history", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Intimidation", "intimidation", 2);
            makeOption("Perception", "perception", 2);
            makeOption("Survival", "survival", 2);

        } else if (localStorage.getItem("class") == "monk") {
            makeOption("Acrobatics", "acrobatics", 2);
            makeOption("Athletics", "athletics", 2);
            makeOption("History", "history", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Religion", "religion", 2);
            makeOption("Stealth", "stealth", 2);

        } else if (localStorage.getItem("class") == "paladin") {
            makeOption("Athletics", "athletics", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Intimidation", "intimidation", 2);
            makeOption("Medicine", "medicine", 2);
            makeOption("Persuasion", "persuasion", 2);
            makeOption("Religion", "religion", 2);

        } else if (localStorage.getItem("class") == "sorcerer") {
            makeOption("Arcana", "arcana", 2);
            makeOption("Deception", "deception", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Intimidation", "intimidation", 2);
            makeOption("Persuasion", "persuasion", 2);
            makeOption("Religion", "religion", 2);

        } else if (localStorage.getItem("class") == "warlock") {
            makeOption("Arcana", "arcana", 2);
            makeOption("Deception", "deception", 2);
            makeOption("History", "history", 2);
            makeOption("Intimidation", "intimidation", 2);
            makeOption("Investigation", "investigation", 2);
            makeOption("Nature", "nature", 2);
            makeOption("Religion", "religion", 2);

        } else if (localStorage.getItem("class") == "wizard") {
            makeOption("Arcana", "arcana", 2);
            makeOption("History", "history", 2);
            makeOption("Insight", "insight", 2);
            makeOption("Investigation", "investigation", 2);
            makeOption("Medicine", "medicine", 2);
            makeOption("Religion", "religion", 2);
        //Otherwise, it is a class with 3 or 4 proficiencies
        } else {
            sel3.style.display = "inline";

            if (localStorage.getItem("class") == "bard") {
                makeOption("Acrobatics", "acrobatics", 3);
                makeOption("Animal Handling", "anmlH", 3);
                makeOption("Arcana", "arcana", 3);
                makeOption("Athletics", "athletics", 3);
                makeOption("Deception", "deception", 3);
                makeOption("History", "history", 3);
                makeOption("Insight", "insight", 3);
                makeOption("Intimidation", "intimidation", 3);
                makeOption("Investigation", "investigation", 3);
                makeOption("Medicine", "medicine", 3);
                makeOption("Nature", "nature", 3);
                makeOption("Perception", "perception", 3);
                makeOption("Performance", "performance", 3);
                makeOption("Persuasion", "persuasion", 3);
                makeOption("Religion", "religion", 3);
                makeOption("Sleight of Hand", "slghtfH", 3);
                makeOption("Stealth", "stealth", 3);
                makeOption("Survival", "survival", 3);

            } else if (localStorage.getItem("class") == "ranger") {
                makeOption("Animal Handling", "anmlH", 3);
                makeOption("Athletics", "athletics", 3);
                makeOption("Insight", "insight", 3);
                makeOption("Investigation", "investigation", 3);
                makeOption("Nature", "nature", 3);
                makeOption("Perception", "perception", 3);
                makeOption("Stealth", "stealth", 3);
                makeOption("Survival", "survival", 3);

              //Otherwise, they are a rogue with 4 proficiencies
            } else {
                sel4.style.display = "inline";

                makeOption("Acrobatics", "acrobatics", 4);
                makeOption("Athletics", "athletics", 4);
                makeOption("Deception", "deception", 4);
                makeOption("Insight", "insight", 4);
                makeOption("Intimidation", "intimidation", 4);
                makeOption("Investigation", "investigation", 4);
                makeOption("Perception", "perception", 4);
                makeOption("Performance", "performance", 4);
                makeOption("Persuasion", "persuasion", 4);
                makeOption("Sleight of Hand", "slghtfH", 4);
                makeOption("Stealth", "stealth", 4);
            }
        }
        
        //Make option objects and append them
        //to the correct number of select tags
        function makeOption(text, val, num) {
            
            if (num == 1)
            {
                const op1 = document.createElement("option");
                op1.innerText = text;
                op1.setAttribute("value", val);
                sel1.appendChild(op1);

            } else if (num == 2) {
                const op1 = document.createElement("option");
                op1.innerText = text;
                op1.setAttribute("value", val);
                sel1.appendChild(op1);

                const op2 = document.createElement("option");
                op2.innerText = text;
                op2.setAttribute("value", val);
                sel2.appendChild(op2);

            } else if (num == 3) {
                const op1 = document.createElement("option");
                op1.innerText = text;
                op1.setAttribute("value", val);
                sel1.appendChild(op1);

                const op2 = document.createElement("option");
                op2.innerText = text;
                op2.setAttribute("value", val);
                sel2.appendChild(op2);

                const op3 = document.createElement("option");
                op3.innerText = text;
                op3.setAttribute("value", val);
                sel3.appendChild(op3);

            } else if (num == 4) {
                const op1 = document.createElement("option");
                op1.innerText = text;
                op1.setAttribute("value", val);
                sel1.appendChild(op1);

                const op2 = document.createElement("option");
                op2.innerText = text;
                op2.setAttribute("value", val);
                sel2.appendChild(op2);

                const op3 = document.createElement("option");
                op3.innerText = text;
                op3.setAttribute("value", val);
                sel3.appendChild(op3);

                const op4 = document.createElement("option");
                op4.innerText = text;
                op4.setAttribute("value", val);
                sel4.appendChild(op4);
            }else if (num==5){
                const op1 = document.createElement("option");
                op1.innerText = text;
                op1.setAttribute("value", val);
                sel5.appendChild(op1);

                const op2 = document.createElement("option");
                op2.innerText = text;
                op2.setAttribute("value", val);
                sel6.appendChild(op2);
            }
        }

        //Grabs values from the Select Objects
        function storeInfo(){
            localStorage.setItem("prof1", document.getElementById("select1").value);
            localStorage.setItem("prof2", document.getElementById("select2").value);
            if (document.getElementById("select3").value != "Choose Third Proficiency")
               localStorage.setItem("prof3", document.getElementById("select3").value);
            if (document.getElementById("select4").value != "Choose Fourth Proficiency")
                localStorage.setItem("prof4", document.getElementById("select4").value);
        }
            //Tell the Player what proficiencies their background gives them
            //Helps them not choose the same one twice
            if (localStorage.getItem("bg") == "acolyte") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the acolyte background, you automatically get proficiencies in Insight and Religion.";
            } else if (localStorage.getItem("bg") == "charlatan") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the charlatan background, you automatically get proficiencies in Deception and Sleight of Hand.";
            } else if (localStorage.getItem("bg") == "criminal") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the criminal background, you automatically get proficiencies in Deception and Stealth.";
            } else if (localStorage.getItem("bg") == "entertainer") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the entertainer background, you automatically get proficiencies in Acrobatics and Performance.";
            } else if (localStorage.getItem("bg") == "folk-hero") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the folk hero background, you automatically get proficiencies in Animal Handling and Survival.";
            } else if (localStorage.getItem("bg") == "guild-artisan") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the acolyte background, you automatically get proficiencies in Insight and Religion.";
            } else if (localStorage.getItem("bg") == "paladin") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the paladin class, we highly recommend that your highest stat be strength and your second highest be charisma.";
            } else if (localStorage.getItem("bg") == "ranger") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the ranger class, we highly recommend that your highest stat be dexterity and your second highest be wisdom.";
            } else if (localStorage.getItem("bg") == "rogue") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the rogue class, we highly recommend that your highest stat be dexterity and your second highest be intelligence or charisma.";
            } else if (localStorage.getItem("bg") == "sorcerer") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the sorcerer class, we highly recommend that your highest stat be charisma and your second highest be constitution.";
            } else if (localStorage.getItem("bg") == "warlock") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the warlock class, we highly recommend that your highest stat be charisma and your second highest be Wisdom.";
            } else if (localStorage.getItem("bg") == "wizard") {
                document.getElementById("bgInfo").innerHTML = "Since you chose the wizard class, we highly recommend that your highest stat be intelligence and your second highest be constitution or wisdom.";
            } else {
                document.getElementById("bgInfo").innerHTML = "Choose a class on the previous page and we will give a suggestion on how to arrange your stats.";
            }
            
            if(localStorage.getItem("race") == "halfOrc"){
                document.getElementById("half-orcInfo").innerHTML = "Since you chose the half-orc race, you automatically get a proficiency in Intimidation";
            }
            
            if(localStorage.getItem("race") == "halfElf"){
                document.getElementById("raceProfTitle").style.display = "inline";
                sel5.style.display = "inline";
                sel6.style.display = "inline";
                makeOption("Acrobatics", "acrobatics", 5);
                makeOption("Animal Handling", "anmlH", 5);
                makeOption("Arcana", "arcana", 5);
                makeOption("Athletics", "athletics", 5);
                makeOption("Deception", "deception", 5);
                makeOption("History", "history", 5);
                makeOption("Insight", "insight", 5);
                makeOption("Intimidation", "intimidation", 5);
                makeOption("Investigation", "investigation", 5);
                makeOption("Medicine", "medicine", 5);
                makeOption("Nature", "nature", 5);
                makeOption("Perception", "perception", 5);
                makeOption("Performance", "performance", 5);
                makeOption("Persuasion", "persuasion", 5);
                makeOption("Religion", "religion", 5);
                makeOption("Sleight of Hand", "slghtfH", 5);
                makeOption("Stealth", "stealth", 5);
                makeOption("Survival", "survival", 5);
            } 
            
    </script>
</form>
</div>
<div class="text-center">
    <button class="backButton" style="margin:auto;" onclick="window.location.href='/CC_BA';">Back</button>
</div>

