@page
@model Dice_Roller_0._1.Pages.CCItemsModel
@{
    ViewData["Title"] = "Inventory";
}
<h1>Choose your Inventory by selecting an option from each drop down</h1>

<div class="text-center">
    <button class="backButton" onclick="window.location.href='/CC_sub1';">Back</button>
</div>

<script>
    /*--How many choices each class has to make for their inventory
        Barbarian - 2
        Bard - 3
        Cleric - 4
        Druid - 2
        Fighter - 4
        Monk - 2
        Paladin - 3
        Ranger - 3
        Rogue - 3
        Sorcerer - 3
        Warlock - 3
        Wizard - 3
    */

    
</script>