@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="text-center">
    <h1 class="display-4">D&&D Character Creator</h1>
    <p>
        <button><a href="https://localhost:7115/Privacy">Create a Character</a></button>
    </p>
</div>



