@page
@model IndexModel
@{
    ViewData["Title"] = "Realm Builder Home";

}

<script>
    if(sessionStorage.getItem("started") != "1")
        sessionStorage.setItem("started", "0");

</script>

<div class="text-center">
    <img src="/images/Realm Builder Logo.png" width="750">
    <p>
        <!--<button onclick="window.location.href='https://localhost:44331/CC1';">Create a Character</button>-->
        <button onclick="window.location.href='/CC_CR';">Create a Character</button>
    </p>
</div>
