@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}
<form asp-page-handler="button" method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>
            <button class="btn btn-default">Roll Dice</button>
        </p>
    </div>
</form>
<form asp-page-handler="testClick" method="post">
    <div class="text-center">
        <p>
            <button class="btn btn-default">TEST?</button>
        </p>
    </div>
</form>
